{% extends 'base.html' %} <!-- Extiende el diseño base -->

{% block title %}Historial de Reservas{% endblock %} <!-- Título de la página -->

{% block header_title %}Historial de Reservas{% endblock %} <!-- Título del encabezado -->

{% block content %}

    <div class="history-appointments"> <!-- Contenedor de historial de reservas -->
        
        {% if past_appointments %} <!-- Comprobar si hay reservas pasadas -->
            <ul> <!-- Lista de reservas pasadas -->
                {% for appointment in past_appointments %} <!-- Iterar sobre las reservas pasadas -->
                    <li>
                        <strong>{{ appointment.date }}</strong> - <span style="color: #fff;">{{ appointment.barber_shop.name }}</span> <!-- Detalles de la reserva pasada -->
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No hay historial de reservas.</p> <!-- Mensaje si no hay reservas pasadas -->
        {% endif %}
        {% if past_appointments.has_previous or past_appointments.has_next %}
        <div class="d-flex justify-content-center">
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    {% if past_appointments.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ past_appointments.previous_page_number }}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li class="page-item text-muted">
                            <a class="page-link" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    {% elif past_appointments.has_next %}
                        <li class="page-item text-muted">
                            <a class="page-link" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="?page={{ past_appointments.next_page_number }}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    {% endif %}
    </div>
{% endblock %} <!-- Fin del bloque de contenido -->
