
{% extends 'base.html' %}
{% block title %}Lista de Reservas{% endblock %}
{% block content %}
    <h1>Reservas</h1>
    <button onclick="upcoming()">Reservas Próximas</button>
    <button onclick="history()">Historial de Reservas</button>
    <script>
        function upcoming() {
            window.location.href = "{% url 'appointment_upcoming' %}";
        }

        function history() {
            window.location.href = "{% url 'appointment_history' %}";
        }
    </script>
{% endblock %}
