{% extends 'base.html' %}

{% block content %}
  <h2>Detalles de la Reserva</h2>
  <p><strong>Barbería: {{ appointment.barber_shop }}</p>
  <p><strong>Fecha: {{ appointment.date }}</p>
  <p><strong>Hora: {{ appointment.time }}</p>
  <p><strong>Emisión: {{ appointment.issued_date }}</p>
  <button onclick="window.location.href='{% url 'modify_appointment' appointment.id %}'">Modificar</button>
  <button onclick="window.location.href='{% url 'cancel_appointment' appointment.id %}'">Cancelar</button>
{% endblock %}