{% extends 'base.html' %} <!-- Extiende el diseño base -->

{% block title %}Reserva Exitosa{% endblock %} <!-- Título de la página -->

{% block content %} <!-- Contenido de la página -->
    <div class="container">
        <h1>¡Reserva Exitosa!</h1> <!-- Título de éxito -->
        <p>La reserva ha sido creada exitosamente.</p> <!-- Mensaje de éxito -->
        <button onclick="goToList()" class="btn btn-success">Ver la lista de reservas</button> <!-- Botón para ver la lista de reservas -->
    </div>

    <script>
        function goToList() {
            window.location.href = "{% url 'appointment_list' %}"; <!-- Función para redirigir a la lista de reservas -->
        }
    </script>
{% endblock %}
