
{% extends 'base.html' %}

{% block title %}Cancelar Reserva{% endblock %}

{% block header_title %}Cancelar Reserva{% endblock %}

{% block content %}
    <div class="container">
        <h1>Confirmar Cancelación de Reserva</h1>
        {% if message %}
            <p>{{ message }}</p>
        {% endif %}
        <p>¿Estás seguro de que deseas cancelar la reserva?</p>

        <form id="cancelForm" method="post" action="{% url 'cancel_appointment' appointment.id %}">
            {% csrf_token %}
            <button type="submit" name="confirm_cancel" id="confirmCancelBtn" class="btn btn-danger">Sí, Cancelar Reserva</button>
        </form>

        <!-- Script para mostrar confirmación antes de enviar el formulario -->
        <script>
            document.getElementById("confirmCancelBtn").addEventListener("click", function(event) {
                var confirmed = confirm("¿Estás seguro de que deseas cancelar la reserva?");
                if (!confirmed) {
                    event.preventDefault(); // Cancela el envío del formulario si no está confirmado
                }
            });
        </script>
        {% if success_message %}
            <p>{{ success_message }}</p>
        {% endif %}
    </div>
{% endblock %}
