{% extends 'base.html' %} <!-- Extiende el diseño base -->

{% block title %}Próximas Reservas{% endblock %} <!-- Título de la página -->

{% block header_title %}Próximas Reservas{% endblock %} <!-- Título del encabezado -->

{% block content %}
    <div class="upcoming-appointments">
        <ul>
            {% for appointment in past_appointments %}
                <li>
                    <div class="p-3">
                        <div class="mb-3">
                            <strong>Fecha</strong>: <span style="color: #fff;">{{ appointment.date }}</span>
                        </div>
                        <div class="mb-3">
                            <strong>Cliente</strong>: <span style="color: #fff;">{{ appointment.customer.username }}</span>
                        </div>
                        <div class="mb-3">
                            <strong>Fecha Emisión</strong>: <span style="color: #fff;">{{ appointment.issued_date }}</span>
                        </div>
                        <a href="{% url 'appointment_detail' appointment.id %}">Ver detalles</a>
                    </div>
                </li>
            {% empty %}
                <li>
                    <p>Historial vacío.</p> <!-- Mensaje si no hay historial -->
                </li>
            {% endfor %}
        </ul>
        {% if past_appointments.has_previous or past_appointments.has_next %}
            <div class="d-flex justify-content-center">
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        {% if past_appointments.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ past_appointments.previous_page_number }}" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li class="page-item text-muted">
                                <a class="page-link" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        {% elif past_appointments.has_next %}
                            <li class="page-item text-muted">
                                <a class="page-link" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="?page={{ past_appointments.next_page_number }}" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        {% endif %}
    </div>
{% endblock %}